
body {
    margin: 0;
    padding: 0;
    height: 100px;
    overflow: hidden;
    font-family: sans-serif;
   
}
ul{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: -50vh;
  padding-left: 1vh;
}
ul li{
  position: relative;
  list-style: none;
  height: 33.3vh;
  width: 100vh;
 
}

#particles1,
#particles2,
#particles3
{
  height: 100%;
}
#particles1{
  background: #f93;
}
#particles3{
  background: #138800;
}
ul li img{
  position: absolute;
  height: 90%;
  left: 25%;
  transform: translateX(-50);
  animation: animate 25s linear infinite;
}
ul li h1{
  position: absolute;
  width: 20%;
  margin: 150px 0 0;
  padding: 0;
  font-size: 4em;
  text-align: right;
  text-transform: uppercase;
}

ul li h2{
  position: absolute;
  right: 0;
  width: 46%;
  margin: 210px 0 0;
  padding: 0;
  font-size: 12em;
  text-transform: uppercase;
}
@keyframes animate {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}